
.root {
    -fx-font-family: "Arial";
    -fx-background-color: #f0f0f0; /* Light gray background */
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-padding: 5px;
}

.button {
    -fx-background-color: #4CAF50; /* Green */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #367c39; /* Darker green on hover */
}

.list-view {
    -fx-background-color: white;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #b3d9ff; /* Light blue selection */
    -fx-text-fill: black;
}